body,
html,
input {
  color: #444444;
  font-family: Merriweather;
  font-size: 14px;
  line-height: 20px;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100% !important;
  height: auto;
  width: auto;
}

a {
  color: #444444;
}

a:active {
  color: #9E9E9E;
}

a:visited {
  color: #616161;
}
